[submodule "edge-classic-site"]
	path = edge-classic-site
	url = https://github.com/pbdot/edge-classic-site
	branch = web_player
[submodule "edge-classic-site-webplayer"]
	path = edge-classic-site-webplayer
	url = https://github.com/pbdot/edge-classic-site-webplayer
[submodule "pack_files"]
	path = pack_files
	url = https://github.com/pbdot/pack_files
